# .deb Packages
*.deb

# Source packages
*.dsc
*.orig.tar.gz
*.debian.tar.xz

# Downloaded / extracted upstream release artifacts
superfile-linux-*/
superfile-linux-*.tar.gz
/usr/
/DEBIAN/
.superfile_release_name

.idea/*
.DS_Store
